.Hero_content {
    color: #ffffff;
}

.Hero_content h1 {
    font-size: 8vw;
    margin-left:1.5em;
    margin-top: 1em;
    letter-spacing: 0px;
    font-family: 'Saira', sans-serif;
}

.Hero_content h2 {
    position: relative;
    font-size: 8vw;
    margin-left:3em ;
    bottom: 0.4em;
    letter-spacing: 0px;
    font-family: 'Saira', sans-serif;
}

.hero video {
    width: 60%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 5vw;
}